.home {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 120vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.796), rgba(0, 0, 0, 0.82)),
      url(../images/bg.jpg);
   background-size: cover;
   background-position: center center;
   color: #e5d4c5;
}

.welcome {
   font-size: 23px;
   font-weight: bold;
   border-bottom: 2px solid #d17d5d;
}

.intro {
   font-size: 70px;
   font-weight: bold;
   margin: 10px;
}

.contactBtn {
   width: 200px;
   height: 70px;
   background-color: #d17d5d;
   color: #e5d4c5;
   border: none;
   border-radius: 5px;
   font-size: 17px;
   font-weight: bold;
   margin-top: 30px;
   transition: 2s;
}

.contactBtn:hover {
   background-color: #454239;
   transition: 2s;
}

@media screen and (max-width: 1000px) {
   .intro {
      font-size: 60px;
   }
}

@media screen and (max-width: 700px) {
   .intro {
      font-size: 40px;
   }
   .welcome {
      margin-top: -50px;
   }
   .home {
      height: 110vh;
   }
}

@media screen and (max-width: 500px) {
   .intro {
      font-size: 30px;
   }
}
